<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='chemID.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>
    <body>
        <div id="container">
            <div id="cards-list">
                {% for card in cards %}
                <div class="card-back">
                    <div class="card-photo">
                        <img src="https://via.placeholder.com/150">
                    </div>
                    <div class="card-info">
                        <span class="card-name">{{card.name}}</span>
                        <span><i class="fa-solid fa-calendar"></i> {{card.birth.strftime("%b %d %Y")}} - {{card.death.strftime("%b %d %Y") if card.death is not none else "present"}}</span>
                        <span><i class="fa-solid fa-medal"></i> {{card.award}}</span>
                        <span><i class="fa-solid fa-pen-to-square"></i> {{card.publication}}</span>
                        <hr>
                        <span><i class="fa-solid fa-lightbulb"></i> {{card.contribution}}</span>
                        <span>{{card.lContribution}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
